<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="shortcut icon" href="/static/img/favicon.ico" >
    <title>Get5 Web Panel</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/chosen.min.css">
    <link rel="stylesheet" href="/static/css/get5.css">
    <script src="/static/js/chosen.jquery.min.js"></script>

    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>

<body>
    <div id="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('home')}}">{{ BRAND }}</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a id="matches" href="/matches">All Matches</a></li>
                        {% if user %}
                        <li><a id="mytournaments" href="/mytournaments">My Tournaments</a></li>
                        <li><a id="tournament_create" href="/tournament/create">Create a Tournament</a></li>
                        <li><a id="mymatches" href="/mymatches">My Matches</a></li>
                        <li><a id="match_create" href="/match/create">Create a Match</a></li>
                        <li><a id="myteams" href="/myteams">My Teams</a></li>
                        <li><a id="team_create" href="/team/create">Create a Team</a></li>
                        <li><a id="myservers" href="/myservers">My Servers</a></li>
                        <li><a id="server_create" href="/server/create">Add a Server</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user %}
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        {% else %}
                        <li><a href="{{ url_for('login') }}"><img src="/static/img/login_small.png"/></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <div class="panel-footer text-muted">
        <p>
            Powered by <a href="http://steampowered.com">Steam</a> &amp; <a href="https://github.com/splewis/get5">Sean Lewis' get5</a> -
            <a href="{{ url_for('metrics') }}">Stats</a>
            {% if VERSION %} - <a href="https://github.com/mathiassmichno/get5-web">{{VERSION}}</a> {% endif %}
        </p>
    </div>

</body>
</html>
