{% from "macros.html" import score_symbol %}

{% extends "layout.html" %}

{% macro player_stat_table(team, map_stats) %}
<tr>
  <td> <b>{{ team.name }}</b> </td>
</tr>
{% for player in map_stats.player_stats.filter_by(team_id=team.id) %}
{% if player.roundsplayed > 0 %}
<tr>
  <td> <a href="{{player.get_steam_url()}}"> {{ player.name }} </a></td>
  <td class="text-center"> {{ player.kills }}  </td>
  <td class="text-center"> {{ player.deaths }} </td>
  <td class="text-center"> {{ player.assists }} </td>
  <td class="text-center"> {{ player.flashbang_assists }} </td>

  <td class="text-center"> {{ player.v1 }} </td>
  <td class="text-center"> {{ player.v2 }} </td>
  <td class="text-center"> {{ player.v3 }} </td>

  <td class="text-center"> {{ player.get_rating() | round(2) }} </td>
  <td class="text-center"> {{ player.get_fpr() | round(2) }} </td>
  <td class="text-center"> {{ player.get_adr() | round(1) }} </td>
  <td class="text-center"> {{ player.get_hsp() | round(2) }} </td>
</tr>
{% endif %}
{% endfor %}
{% endmacro %}

{% block content %}
{% if admin_access and (match.live() or match.pending()) %}
<div class="row">
  <div class="col-auto ml-auto">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Admin tools
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% if match.live() %}
        <a class="dropdown-item" id="pause" href="{{request.path}}/pause">Pause match</a>
        <a class="dropdown-item" id="unpause" href="{{request.path}}/unpause">Unpause match</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" id="addplayer_team1" href="#">Add player to team1</a>
        <a class="dropdown-item" id="addplayer_team2" href="#">Add player to team2</a>
        <a class="dropdown-item" id="addplayer_spec" href="#">Add player to specator list</a>
        <a class="dropdown-item" id="rcon_command" href="#">Send rcon command</a>
        {% else %}
        <a class="dropdown-item" id="edit" href="{{request.path}}/edit">Edit match</a>
        {% endif %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" id="backup_manager" href="{{request.path}}/backup">Load a backup file</a>
        <a class="dropdown-item" href="{{request.path}}/cancel">Cancel match</a>
        <a class="dropdown-item" href="{{request.path}}/start">Start match</a>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
{% else %}
<div class="row pt-5 justify-content-center">
{% endif %}
  <div class="col">
    <h3 class="display-4 text-right">
      <a href="/team/{{team1.id}}">{{team1.name}}</a>&nbsp;{{ match.team1_score }}
    </h3>
  </div>
  <div class="col-auto">
    <h3 class="display-4 text-center">
      {{ score_symbol(match.team1_score, match.team2_score) }}
    </h3>
  </div>
  <div class="col">
    <h3 class="display-4 text-left">
      {{ match.team2_score }}&nbsp;<a href="/team/{{team2.id}}">{{team2.name}}</a>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <h5>
      <span class="badge badge-info">{{ match.get_format() }}</span>
      {% if match.start_time is none %}
      <span class="badge badge-primary">
        Pending
      </span>
      {% elif match.live() %}
      <span class="badge badge-success">
        Live!
      </span>
      {% else %}
      <span class="badge badge-secondary">
        Ended
      </span>
      {% endif %}
    </span>
  </h5>
</div>
</div>
<div class="row">
  {% if match.cancelled %}
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    This match has been cancelled.
  </div>
  {% elif match.forfeit %}
  <div class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    This match was forfeit by {{match.get_loser()}}.
  </div>
  {% elif match.live() %}
      <div class="col-4 ml-auto mr-auto">
        <a href="steam://connect/{{match.get_server().get_hostport()}}" class="btn btn-success btn-lg btn-block">Connect to server</a>
      </div>
  {% endif %}
</div>
{% for map_stats in map_stat_list %}
<div class="row">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">
        Map {{ map_stats.map_number + 1 }}: {{ map_stats.map_name }}&nbsp;&nbsp;|&nbsp;&nbsp;
        {{team1.name}} {{map_stats.team1_score}} {{ score_symbol(map_stats.team1_score, map_stats.team2_score) }} {{map_stats.team2_score}} {{team2.name}}
      </h2>
    </div>
    <div class="card-body">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>Player</th>
            <th class="text-center">Kills</th>
            <th class="text-center">Deaths</th>
            <th class="text-center">Assists</th>
            <th class="text-center">Flash assists</th>
            <th class="text-center">1v1</th>
            <th class="text-center">1v2</th>
            <th class="text-center">1v3</th>
            <th class="text-center">Rating</th>
            <th class="text-center"><acronym title="Frags per round">FPR</acronym></th>
            <th class="text-center"><acronym title="Average damage per round">ADR</acronym></th>
            <th class="text-center"><acronym title="Headshot percentage">HSP</acronym></th>
          </tr>
        </thead>
        <tbody>
          {{ player_stat_table(team1, map_stats) }}

          {{ player_stat_table(team2, map_stats) }}
        </tbody>
      </table>
    </div>
    <div class="card-footer text-muted">
      <p>Started at {{ map_stats.start_time.strftime('%Y-%m-%d %H:%M') }}</p>
      {% if map_stats.end_time is not none %}
      <p>Ended at {{ map_stats.end_time.strftime('%Y-%m-%d %H:%M') }}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
{% if match.start_time is not none %}
<div class="row">
  <div class="well text-muted">
    <p>Started at {{ match.start_time.strftime('%Y-%m-%d %H:%M') }}</p>
    {% if match.end_time is not none %}
    <p>Ended at {{ match.end_time.strftime('%Y-%m-%d %H:%M') }}</p>
    {% endif %}
  </div>
</div>
{% endif %}

<script>
  jQuery("#addplayer_team1").click(function(e) {
    var input = prompt("Please enter a steamid to add to {{team1.name}}", "");
    if (input != null) {
      window.location.href = "{{request.path}}/adduser?team=team1&auth=" + encodeURIComponent(input);
    }
  });

  jQuery("#addplayer_team2").click(function(e) {
    var input = prompt("Please enter a steamid to add to {{team2.name}}", "");
    if (input != null) {
      window.location.href = "{{request.path}}/adduser?team=team2&auth=" + encodeURIComponent(input);
    }
  });

  jQuery("#addplayer_spec").click(function(e) {
    var input = prompt("Please enter a steamid to add to the spectators list", "");
    if (input != null) {
      window.location.href = "{{request.path}}/adduser?team=spec&auth=" + encodeURIComponent(input);
    }
  });

  jQuery("#rcon_command").click(function(e) {
    var input = prompt("Enter a command to send", "");
    if (input != null) {
      window.location.href = "{{request.path}}/rcon?command=" + encodeURIComponent(input);
    }
  });
</script>


{% endblock %}
