{% extends "layout.html" %}
{% block content %}

  <form role="form" action="" method="post">

      {{ form.csrf_token }}

      <div class="form-group row">
        {{ form.server.label(class="col-sm-2 col-form-label") }}
          <div class="col-8">
            {{ form.server(class="form-control") }}
          </div>
          <div class="col-auto">
            <a href="/server/create" class="btn btn-primary">Create a server</a>
          </div>    
      </div>

      <div class="form-group row">
        {{ form.team1.label(class="col-sm-2 col-form-label") }}
          <div class="col-8">
            {{ form.team1(class="form-control") }}
          </div>
          <div class="col-auto">
            <a href="/team/create" class="btn btn-primary">Create a team</a>
          </div>
      </div>

      {% if match_text_option and not edit %}
      <div class="form-group row">
      {{ form.team1_string.label(class="col-sm-2 col-form-label") }}
        <div class="col-sm-10">
          {{ form.team1_string(class="form-control") }}
          <p class="help-block">The team title texts and match text are shown in freezetime to spectators: <a href="/static/img/matchtext_example.png" target="_blank">example</a> </p>
        </div>
      </div>
      {% endif %}

      <div class="form-group row">
        {{ form.team2.label(class="col-sm-2 col-form-label") }}
          <div class="col-8">
            {{ form.team2(class="form-control") }}
          </div>
      </div>

      {% if match_text_option and not edit  %}
      <div class="form-group row">
      {{ form.team2_string.label(class="col-sm-2 col-form-label") }}
        <div class="col-sm-10">
          {{ form.team2_string(class="form-control") }}
        </div>
      </div>

      <div class="form-group row">
      {{ form.match_title.label(class="col-sm-2 col-form-label") }}
        <div class="col-sm-10">
          {{ form.match_title(class="form-control") }}
        </div>
      </div>
      {% endif %}

      <div class="form-group row">
      {{ form.series_type.label(class="col-sm-2 col-form-label") }}
        <div class="col-sm-offset-2">
          {% for subfield in form.series_type %}
          <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
            <br>
          </tr>
        {% endfor %}
        </div>
      </div>

      {% if not edit %}
      <div class="form-group row">
        {{ form.veto_mappool.label(class="col-sm-2 col-form-label", style="height:50px") }}
        <div class="col-sm-offset-2">
          {% for subfield in form.veto_mappool %}
          <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
            <br>
          </tr>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if edit %}
    <div class="input submit col-sm-offset-1">
      <input type="submit" class="btn btn-primary" value="Update Match">
    </div>
    {% else %}
    <div class="input submit col-sm-offset-1">
      <input type="submit" class="btn btn-primary" value="Create Match">
    </div>
    {% endif %}
  </form>

</div>

{% endblock %}
