{% from "macros.html" import create_button, pagination_buttons, pagination_active %}

{% extends "layout.html" %}
{% set active_page = "servers" %}
{% block content %}


<div class="row">
  <div class="col">
    <h1 class="display-3">
      Servers
    </h1>
  </div>
  {{ create_button('server') }}
</div>
<div class="row">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Server ID</th>
        <th>Display Name</th>
        <th>IP Address</th>
        <th>Port</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      
      {% for server in servers.items %}
      <tr>
        <td>{{ server.id }}</td>
        <td>{{ server.display_name }}</td>
        <td>{{ server.ip_string }}</td>
        <td>{{ server.port }}</td>
        <td>
          {% if server.in_use %}
          In use
          {% else %}
          Free
          {% endif %}
        </td>

        <td>
          <a href="/server/{{server.id}}/edit" class="btn btn-primary btn-xs">Edit</a>
          {% if not server.in_use %}
          <a href="/server/{{server.id}}/delete" class="btn btn-danger btn-xs">Delete</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  
  {{ pagination_buttons(servers) }}
  
</div>

{{ pagination_active(servers) }}

{% endblock %}
