{% from "macros.html" import show_flashed_messages %}

{% extends "layout.html" %}
{% block content %}

{{ show_flashed_messages() }}

<div class="alert alert-info" role="alert">
  <p>
    Make sure your server is running and has the get5 server plugins installed first.
    See <a href="https://github.com/splewis/get5/wiki/Step-by-step-installation-guide">the get5 wiki</a> for help installing the get5 and get5_apistats plugins.
  </p>
</div>

<form role="form" action="" method="post">

      {{ form.csrf_token }}

      <div class="form-group row">
      {{ form.display_name.label(class="col-sm-2 col-form-label") }}     
        <div class="col-sm-10">
          {{ form.display_name(class="form-control", placeholder="Optional") }}
        </div>
      </div>

      <div class="form-group row">
      {{ form.ip_string.label(class="col-sm-2 col-form-label") }}
        <div class="col-sm-10">
          {{ form.ip_string(class="form-control", placeholder="Server IP") }}
        </div>
      </div>

      <div class="form-group row">
      {{ form.port.label(class="col-sm-2 col-form-label") }}
        <div class="col-sm-10">
          {{ form.port(class="form-control", placeholder="27015") }}
        </div>
      </div>

      <div class="form-group row">
      {{ form.rcon_password.label(class="col-sm-2 col-form-label") }}
        <div class="col-sm-10">
          {{ form.rcon_password(class="form-control", placeholder="RCON password") }}
          <p class="help-block">Your server information will not be exposed to other users.</p>
        </div>
      </div>

      {% if is_admin %}
      <div class="form-group row">
        {{ form.public_server.label(class="col-sm-2 col-form-label") }}
        <div class="col-sm-offset-1">
          {{ form.public_server() }}
        </div>
      </div>
      {% endif %}

      {% if edit %}
      <div class="input submit">
        <input type="submit" class="btn btn-primary" value="Update Server">
      </div>
      {% else %}
      <div class="input submit">
        <input type="submit" class="btn btn-primary" value="Create Server">
      </div>
      {% endif %}
  </form>

{% endblock %}
