{% from "macros.html" import create_button, pagination_buttons, pagination_active %}

{% extends "layout.html" %}
{% set active_page = "teams" %}
{% block content %}

<div class="row">
  <div class="col">
    <h1 class="display-3">
      Teams
    </h1>
  </div>
  {{ create_button('team') }}
</div>
<div class="row">
  <div class="col">
    <div class="list-group">
    {% for team in teams.items %}
    <div class="list-group-item list-group-item-action d-flex flex-row justify-content-between">
      <a href="{{ team.get_url() }}">
        <h4>{{ team.get_flag_html(0.75) }}
        {{team.name}}
        {{ team.get_logo_html(0.75) }}</h4>
      </a>
      <div class="d-flex flex-row">
      {% if team.can_delete(user) %}     
          <a href="/team/{{team.id}}/delete" class="btn btn-danger btn-xs">Delete</a>
      {% endif %}
      {% if team.can_edit(user) %}
          <a href="/team/{{team.id}}/edit" class="btn btn-primary btn-xs">Edit</a>
      {% endif %}
      </div>   
    </div>
    {% endfor %}
    </div>
  </div>
  {{ pagination_buttons(teams) }}
</div>

{{ pagination_active(teams) }}

{% endblock %}
