{% from "macros.html" import pagination_buttons, pagination_active %}

{% extends "layout.html" %}
{% block content %}

<div id="content">

  <h1>
  {% if my_tournaments %}
  Your tournamentes
  {% elif all_tournaments %}
  All tournamentes
  {% else %}
  tournaments for <a href="/user/{{ tournament_owner.id }}"> {{ tournament_owner.name }}</a>
  {% endif%}
  </h1>

  <table class="table table-striped">
    <thead>
      <tr>
     {# <th>ID</th> #}
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>

    {% for tournament in tournaments.items %}
      <tr>
     {# <td><a href="/tournament/{{tournament.id}}">{{tournament.id}}</a></td> #}
        <td><a href="/tournament/{{tournament.id}}">{{ tournament.name }}</a></td>
        <td><a href="{{ tournament.url }}">challonge link</a></td>
        <td><a href="{{ tournament.challonge_data.sign_up_url }}">sign up link</a></td>
      </tr>
    {% endfor %}

    </tbody>
  </table>

  {{ pagination_buttons(tournaments) }}

</div>

{{ pagination_active(tournaments) }}

{% if my_tournaments %}
<script>
    $(document).ready(function () {
    $("#mytournaments").parent().addClass("active"); })
</script>
{% endif %}

{% if all_tournaments %}
<script>
    $(document).ready(function () {
    $("#tournaments").parent().addClass("active"); })
</script>
{% endif %}

{% endblock %}
