{% from "macros.html" import create_button, pagination_buttons, pagination_active %}

{% extends "layout.html" %}
{% set active_page = "tournaments" %}
{% block content %}

<div class="row">
  <div class="col">
    <h1 class="display-3">Tournaments</h1>
  </div>
  {{ create_button('tournament') }}
</div>
<div class="row">
  <div class="col">
    <div class="list-group">
      {% for tournament in tournaments.items %}
      <a href="/tournament/{{tournament.id}}" class="list-group-item list-group-item-action">
        <span class="h3">{{ tournament.name }} <span class="badge badge-secondary">{{  tournament.challonge_data.state|title }}</span></span>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col"> 
    {{ pagination_buttons(tournaments) }}
  </div>
</div>

{{ pagination_active(tournaments) }}

{% endblock %}
